<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miemie.appmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"/>

    <application
        android:theme="@android:style/Theme.Holo.Light"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_manager" >
        <receiver android:name="com.miemie.appmanager.PackageBroadcast" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.miemie.appmanager.AppManager"
            android:label="@string/app_manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>